header{
    background: var(--dark);
    font-family: 'Montserrat',sans-serif;
}
.header-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top:25px;
    padding-bottom: 40px;
}
.nav{
    display: flex;
    gap: 48px;
}
.nav-item{
    text-decoration: none;
    color: var(--lighttext);
    font-size: 14px;
    font-weight: 500;
}
.user{
    display: flex;
    align-items: center;
    gap: 30px;
}
.btn-user{
    background: var(--secondary);
    border: 1.5px solid var(--tertiary);
    padding: 11px 35px 12px 39px;
    box-shadow: 0px 0px 50px 0px rgba(255, 102, 0, 0.30);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.btn-user:hover{
    box-shadow: 0px 1px 55px 1px rgba(255, 102, 0, 0.60);
}
.btn-user-text{
    color: var(--lighttext);
}
.lang{
    color: var(--lighttext);
    font-size: 14px;
    font-weight: 500;
    text-decoration-line: underline;
    cursor: pointer;
}